<h1>Card checker !</h1>
<div>
  <% if @code_error %>
    Type of your card is "<%= @card_type %>" and it's valid
  <% else %>
    Type of your card is "<%= @card_type %>" and it's invalid
  <% end %>

  <br><br>

  <%= link_to "Check it again?", root_path %>
</div>
